{
    "ranName": "test_enb5",
    "globalNbId": {
        "nbId": "10110101110001100111011110011",
        "plmnId": "230289"
    },
    "ip": "10.2.3.1",
    "port": 1234,
    "enb": {
        "enbType": 1,
        "guGroupIds": [
            "ghi"
        ],
        "servedCells": [
            {
                "broadcastPlmns": [
                    "jkl"
                ],
                "cellId": "mnop",
                "choiceEutraMode": {
                    "fdd": {
                        "dlearFcn": 1,
                        "ulearFcn": 1
                    },
                    "tdd": {
                        "additionalSpecialSubframeExtensionInfo": {
                            "additionalSpecialSubframePatternsExtension": 1,
                            "cyclicPrefixDl": 1,
                            "cyclicPrefixUl": 1
                        },
                        "additionalSpecialSubframeInfo": {
                            "additionalSpecialSubframePatterns": 1,
                            "cyclicPrefixDl": 1,
                            "cyclicPrefixUl": 1
                        },
                        "earFcn": 4,
                        "specialSubframeInfo": {
                            "specialSubframePatterns": 1,
                            "cyclicPrefixDl": 1,
                            "cyclicPrefixUl": 1
                        }
                    }
                },
                "eutraMode": 1,
                "csgId": "string",
                "mbmsServiceAreaIdentities": [
                    "sds"
                ],
                "mbsfnSubframeInfos": [
                    {
                        "radioframeAllocationOffset": 3,
                        "subframeAllocation": "jhg"
                    }
                ],
                "multibandInfos": [
                    4
                ],
                "neighbourInfos": [
                    {
                        "earFcn": 4,
                        "ecgi": "klj",
                        "pci": 5,
                        "tac": "wew"
                    }
                ],
                "pci": 2,
                "prachConfiguration": {
                    "highSpeedFlag": true,
                    "prachConfigurationIndex": 5,
                    "prachFrequencyOffset": 6,
                    "rootSequenceIndex": 7,
                    "zeroCorrelationZoneConfiguration": 6
                },
                "tac": "asd",
                "additionalCellInformation": {
                    "cellLatitude": 1,
                    "cellLongitude": 1,
                    "antennaHeight": 1,
                    "antennaAzimuthDirection": 2,
                    "antennaTiltAngle": 3,
                    "antennaMaxTransmit": 4,
                    "antennaMaxGain": 5,
                    "sectorId": 6
                }
            },
            {
                "broadcastPlmns": [
                    "jkl"
                ],
                "cellId": "qrst",
                "choiceEutraMode": {
                    "fdd": {
                        "dlearFcn": 4,
                        "ulearFcn": 2
                    },
                    "tdd": {
                        "additionalSpecialSubframeExtensionInfo": {
                            "additionalSpecialSubframePatternsExtension": 1,
                            "cyclicPrefixDl": 1,
                            "cyclicPrefixUl": 1
                        },
                        "additionalSpecialSubframeInfo": {
                            "additionalSpecialSubframePatterns": 1,
                            "cyclicPrefixDl": 1,
                            "cyclicPrefixUl": 1
                        },
                        "earFcn": 4,
                        "specialSubframeInfo": {
                            "specialSubframePatterns": 1,
                            "cyclicPrefixDl": 1,
                            "cyclicPrefixUl": 1
                        }
                    }
                },
                "eutraMode": 1,
                "csgId": "string",
                "mbmsServiceAreaIdentities": [
                    "sds"
                ],
                "mbsfnSubframeInfos": [
                    {
                        "radioframeAllocationOffset": 5,
                        "subframeAllocation": "jhg"
                    }
                ],
                "multibandInfos": [
                    4
                ],
                "neighbourInfos": [
                    {
                        "earFcn": 2,
                        "ecgi": "klj",
                        "pci": 4,
                        "tac": "wew"
                    }
                ],
                "pci": 3,
                "prachConfiguration": {
                    "highSpeedFlag": true,
                    "prachConfigurationIndex": 4,
                    "prachFrequencyOffset": 3,
                    "rootSequenceIndex": 3,
                    "zeroCorrelationZoneConfiguration": 2
                },
                "tac": "asd",
                "additionalCellInformation": {
                    "cellLatitude": 3,
                    "cellLongitude": 3,
                    "antennaHeight": 3,
                    "antennaAzimuthDirection": 3,
                    "antennaTiltAngle": 4,
                    "antennaMaxTransmit": 4,
                    "antennaMaxGain": 5,
                    "sectorId": 5
                }
            }
        ]
    }
}
